@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

/*
CSS de el sidebar
*/

.Sidebar {
  background: #0a141d;
}
.Sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}

.Sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 400ms ease;
}

ul li:hover a {
  padding-left: 50px;
}

.Sidebar ul a i {
  margin-right: 16px;
}
